body{
  background-color: rgb(20, 17, 17);
  color: #e3dede;
}
main{
  max-width: 300px;
  margin: auto;
}

form{
  border:3px solid #767781;
  border-radius:20px;
  padding-left: 15px;
  padding-top: 15px;
  padding-bottom: 15px;
  margin-bottom: 50px;
  display: flex;
}

form input[type="text"]{
  background:none;
  color:#cfcfcf;
  border: 0;
  padding:0 8px;
  width: 100%;
  display: block;
}


form button{
  background-color: #61dafb;
  border:0;
  border-radius: 6px;
  cursor:pointer;
}

div.task{
  background-color: #30313D;
  border-radius:10px;
  padding: 5px;
  margin-top:5px;
  display: flex;
  align-items: center;
  transition: opacity .1s linear;
}

div.task svg {
  height: 20px;
  margin-right: 4px;
  fill: #61dafb;
}

div.task.done{
  opacity: 0.5;
  text-decoration: line-through;
}

div.task span{
  position: relative;
}

div.task span:before{
  content: '';
  display: block;
  width: 0;
  height: 1px;
  background-color: #ddd;
  position: absolute;
  top:10px;
  transition: width .1s linear;
}

div.task.done span:before{
  width: 100%;
}

div.task-name, div.task form{
  flex-grow: 1;
}

button.trash{
  background:none;
  border:none;
  display: flex;
  cursor: pointer;
}
button.trash svg{
  fill:#888;
  height: 14px;
}

h1,h2{
  text-align: center;
}
div.checkbox{
  display: flex;
}

div.task input{
  border: 2px solid #555;
  border-radius: 5px;
  padding: 2px 4px;
}